@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
footer {
  height: auto;
  width: 100%;
  margin-top: 60px;
  background: url("../img/footer-mobile-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 40px;
}
footer div.footer-container__socials {
  max-width: 600px;
  margin: auto;
}
footer div.footer-container__socials div.footer__titlebox {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  background: url("../img/footer-mobile-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
footer div.footer-container__socials div.footer__titlebox div.footer__boxlogo {
  width: 80px;
  height: 80px;
  background: rgb(190, 173, 142);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-family: "Archivo", sans-serif;
  font-size: 2.5em;
  box-shadow: 0 14px 24px 0 rgba(139, 139, 139, 0.15);
}
footer div.footer-container__socials div.footer__titlebox h2.footer-titlebox__title {
  background: none;
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 1.625em;
  letter-spacing: 2.6px;
  color: rgb(17, 17, 17);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
}
footer div.footer-container__socials div.footer__titlebox h2.footer-titlebox__title span.footer-titlebox-title__span {
  font-weight: 400;
  background: none;
}
footer div.footer-container__socials p.footer__paraph {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 24px;
  color: rgb(119, 119, 119);
  padding: 20px;
  background: none;
}
footer div.footer-container__socials div.footer__socials {
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
  padding: 20px;
  background: url("../img/footer-mobile-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
footer div.footer-container__socials div.footer__socials a.footer-socials__link {
  color: rgb(119, 119, 119);
  background: none;
  transition: 0.3s;
}
footer div.footer-container__socials div.footer__socials a.footer-socials__link i.fa-brands {
  margin-right: 20px;
  font-size: 1.8em;
}
footer div.footer-container__socials div.footer__socials a.footer-socials__link:hover {
  color: rgb(190, 173, 142);
  transform: scale(1.1, 1.2);
}
footer div.footer__services {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 20px;
  background: url("../img/footer-mobile-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  max-width: 600px;
  margin: auto;
}
footer div.footer__services h3.footer-services__h3 {
  margin-bottom: 20px;
  font-family: "Old Standard TT", sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 24px;
  color: rgb(34, 34, 34);
  background: none;
}
footer div.footer__services div.footer-services__list {
  display: flex;
  justify-content: space-around;
  background: url("../img/footer-mobile-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
footer div.footer__services div.footer-services__list div.footer-services-list__first {
  margin-right: 20px;
  background: none;
}
footer div.footer__services div.footer-services__list p.footer-services-list__paraphs {
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 48px;
  color: rgb(119, 119, 119);
  background: none;
}
footer div.footer__services div.footer-services__list div.footer-services-list__second {
  background: none;
}
footer div.footer__contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  background: url("../img/footer-mobile-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  max-width: 600px;
  margin: auto;
}
footer div.footer__contact h3.footer-contact__h3 {
  margin-bottom: 30px;
  font-family: "Old Standard TT", sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 24px;
  color: rgb(34, 34, 34);
  background: none;
}
footer div.footer__contact div.footer-contact__container {
  display: flex;
  margin-bottom: 30px;
  background: none;
}
@media screen and (min-width: 500px) {
  footer div.footer__contact div.footer-contact__container {
    justify-content: space-evenly;
  }
}
footer div.footer__contact div.footer-contact__container img.footer-contact-container__img {
  margin-right: 30px;
  background: none;
}
footer div.footer__contact div.footer-contact__container div.footer-contact-container__info {
  background: none;
}
footer div.footer__contact div.footer-contact__container div.footer-contact-container__info h4.footer-contact-container-info__h4 {
  font-family: "Old Standard TT", sans-serif;
  font-weight: 400;
  font-size: 1.25em;
  line-height: 24px;
  background: none;
}
footer div.footer__contact div.footer-contact__container div.footer-contact-container__info p.footer-contact-container-info__paraph {
  font-family: "Roboto", sans-serif;
  font-size: 0.875em;
  line-height: 17px;
  color: rgb(119, 119, 119);
  font-weight: 400;
  background: none;
}
footer div.footer__copyright {
  display: flex;
  flex-direction: column;
  height: auto;
  background: rgb(248, 248, 248);
  width: 100%;
  padding: 20px;
}
@media screen and (min-width: 600px) {
  footer div.footer__copyright {
    text-align: center;
  }
}
footer div.footer__copyright p.footer-copyright__paraph {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1em;
  line-height: 19px;
  letter-spacing: -0.48px;
  color: rgb(34, 34, 34);
}

@media screen and (min-width: 1000px) {
  footer {
    display: flex;
    flex-direction: column;
  }
  footer div.footer-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 30px;
    background: url("../img/footer-mobile-bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  footer div.footer-container div.footer-container__socials {
    width: 30%;
    margin-left: 40px;
    background: url("../img/footer-mobile-bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  footer div.footer-container div.footer-container__socials div.footer__titlebox {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    background: none;
  }
  footer div.footer-container div.footer-container__socials div.footer__titlebox div.footer__boxlogo {
    width: 80px;
    height: 80px;
    background: rgb(190, 173, 142);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-family: "Archivo", sans-serif;
    font-size: 2.5em;
    box-shadow: 0 14px 24px 0 rgba(139, 139, 139, 0.15);
  }
  footer div.footer-container div.footer-container__socials div.footer__titlebox h2.footer-titlebox__title {
    background: none;
    font-family: "Archivo", sans-serif;
    font-weight: 700;
    font-size: 1.625em;
    letter-spacing: 2.6px;
    color: rgb(17, 17, 17);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
  }
  footer div.footer-container div.footer-container__socials div.footer__titlebox h2.footer-titlebox__title span.footer-titlebox-title__span {
    font-weight: 400;
    background: none;
  }
  footer div.footer-container div.footer-container__socials p.footer__paraph {
    font-family: "Archivo", sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 24px;
    color: rgb(119, 119, 119);
    padding: 20px;
    background: none;
  }
  footer div.footer-container div.footer-container__socials div.footer__socials {
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
    padding: 20px;
    background: none;
  }
  footer div.footer-container div.footer-container__socials div.footer__socials a.footer-socials__link {
    color: rgb(119, 119, 119);
    background: none;
    transition: 0.3s;
  }
  footer div.footer-container div.footer-container__socials div.footer__socials a.footer-socials__link i.fa-brands {
    margin-right: 20px;
    font-size: 1.8em;
  }
  footer div.footer-container div.footer-container__socials div.footer__socials a.footer-socials__link:hover {
    color: rgb(190, 173, 142);
    transform: scale(1.1, 1.2);
  }
  footer div.footer-container div.footer-service-contact__container {
    width: 65%;
    display: flex;
    justify-content: space-around;
    background: url("../img/footer-mobile-bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  footer div.footer-container div.footer-service-contact__container div.footer__services {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 20px;
    width: 50%;
    background: none;
  }
  footer div.footer-container div.footer-service-contact__container div.footer__services h3.footer-services__h3 {
    margin-bottom: 20px;
    font-family: "Old Standard TT", sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 24px;
    color: rgb(34, 34, 34);
  }
  footer div.footer-container div.footer-service-contact__container div.footer__services div.footer-services__list {
    display: flex;
    justify-content: flex-start;
    background: none;
  }
  footer div.footer-container div.footer-service-contact__container div.footer__services div.footer-services__list div.footer-services-list__first {
    margin-right: 20px;
    background: none;
  }
  footer div.footer-container div.footer-service-contact__container div.footer__services div.footer-services__list div.footer-services-list__first p.footer-services-list__paraphs {
    background: none;
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 48px;
    color: rgb(119, 119, 119);
  }
  footer div.footer-container div.footer-service-contact__container div.footer__services div.footer-services__list div.footer-services-list__second {
    background: none;
  }
  footer div.footer-container div.footer__contact {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 20px;
    background: none;
  }
  footer div.footer-container div.footer__contact h3.footer-contact__h3 {
    margin-bottom: 30px;
    font-family: "Old Standard TT", sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 24px;
    color: rgb(34, 34, 34);
  }
  footer div.footer-container div.footer__contact div.footer-contact__container {
    display: flex;
    margin-bottom: 30px;
    background: none;
  }
  footer div.footer-container div.footer__contact div.footer-contact__container img.footer-contact-container__img {
    margin-right: 30px;
    background: none;
  }
  footer div.footer-container div.footer__contact div.footer-contact__container div.footer-contact-container__info h4.footer-contact-container-info__h4 {
    font-family: "Old Standard TT", sans-serif;
    font-weight: 400;
    font-size: 1.25em;
    line-height: 24px;
    background: none;
  }
  footer div.footer-container div.footer__contact div.footer-contact__container div.footer-contact-container__info p.footer-contact-container-info__paraph {
    font-family: "Roboto", sans-serif;
    font-size: 0.875em;
    line-height: 17px;
    color: rgb(119, 119, 119);
    font-weight: 400;
    background: none;
  }
  footer div.footer__copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: auto;
    background: rgb(248, 248, 248);
    width: 100%;
    padding: 20px;
  }
  footer div.footer__copyright p.footer-copyright__paraph {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 1em;
    line-height: 19px;
    letter-spacing: -0.48px;
    color: rgb(34, 34, 34);
  }
}/*# sourceMappingURL=footer.css.map */