@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
main section.discover {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 60px;
}
main section.discover div.discover__titlebox {
  width: 100%;
  height: auto;
  background: rgb(249, 249, 249);
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-bottom: 120px;
}
main section.discover div.discover__titlebox h2.discover-titlebox__about {
  width: 100%;
  background: none;
  font-size: 0.875em;
  color: rgb(119, 119, 119);
  font-family: "Archivo", sans-serif;
  letter-spacing: 2.8px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 18px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  max-width: 600px;
}
main section.discover div.discover__titlebox h4.discover-titlebox__title {
  width: 100%;
  background: none;
  font-family: "Old Standard TT", sans-serif;
  font-weight: 400;
  font-size: 3.5em;
  line-height: 60px;
  letter-spacing: -1.2px;
  color: rgb(17, 17, 17);
  margin: auto;
  margin-bottom: 20px;
  max-width: 600px;
}
main section.discover div.discover__titlebox p.discover-titlebox__paraph {
  width: 100%;
  font-family: "Archivo", sans-serif;
  background: none;
  font-size: 0.9em;
  color: rgb(119, 119, 119);
  margin: auto;
  margin-bottom: 30px;
  line-height: 25px;
  max-width: 600px;
}
main section.discover div.discover__titlebox button.discover-titlebox__button {
  background: rgb(189, 172, 141);
  border: none;
  width: 65%;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 0.875em;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  margin-bottom: 40px;
}
main section.discover div.discover-strong-team {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 500px;
  background: rgb(255, 255, 255);
  align-items: center;
  margin-bottom: 40px;
}
main section.discover div.discover-strong-team div.discover-strong-team__box {
  height: auto;
  width: 75%;
  background: none;
  box-shadow: 0 8px 16px 0 rgba(34, 34, 34, 0.02);
  margin-bottom: 40px;
  position: relative;
  top: -40px;
}
main section.discover div.discover-strong-team div.discover-strong-team__box div.discover-strong-team__img {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section.discover div.discover-strong-team div.discover-strong-team__box div.discover-strong-team__img img.discover-strong-team-img__imgcover {
  width: 100%;
  height: 300px;
}
main section.discover div.discover-strong-team div.discover-strong-team__box div.discover-strong-team__description {
  width: 85%;
  height: auto;
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../img/team-nocolor.png");
  background-position: top right;
  background-repeat: no-repeat;
}
main section.discover div.discover-strong-team div.discover-strong-team__box div.discover-strong-team__description h4.discover-strong-team-description__title {
  font-family: "Old Standard TT", sans-serif;
  font-size: 1.875em;
  font-weight: 400;
  letter-spacing: -0.9px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: none;
}
main section.discover div.discover-strong-team div.discover-strong-team__box div.discover-strong-team__description p.discover-strong-team-description__paraph {
  width: 80%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 0.875em;
  text-align: center;
  margin-bottom: 40px;
  line-height: 25px;
  background: none;
}
main section.discover div.discover-luxury-room {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: auto;
  background: rgb(255, 255, 255);
  align-items: center;
}
main section.discover div.discover-luxury-room div.discover-luxury-room__box {
  height: auto;
  width: 75%;
  background: none;
  margin-bottom: 40px;
  color: rgb(255, 255, 255);
  background: rgb(34, 34, 34);
}
main section.discover div.discover-luxury-room div.discover-luxury-room__box div.discover-luxury-room__img {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
}
main section.discover div.discover-luxury-room div.discover-luxury-room__box div.discover-luxury-room__img img.discover-luxury-room-img__imgcover {
  width: 100%;
  height: 300px;
}
main section.discover div.discover-luxury-room div.discover-luxury-room__box div.discover-luxury-room__description {
  width: 85%;
  height: auto;
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
}
main section.discover div.discover-luxury-room div.discover-luxury-room__box div.discover-luxury-room__description img.discover-luxury-room-description__team-img {
  background: none;
}
main section.discover div.discover-luxury-room div.discover-luxury-room__box div.discover-luxury-room__description h4.discover-luxury-room-description__title {
  font-family: "Old Standard TT", sans-serif;
  font-size: 1.875em;
  font-weight: 400;
  letter-spacing: -0.9px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: none;
  background: none;
}
main section.discover div.discover-luxury-room div.discover-luxury-room__box div.discover-luxury-room__description p.discover-luxury-room-description__paraph {
  width: 80%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 0.875em;
  text-align: center;
  margin-bottom: 40px;
  line-height: 25px;
  background: none;
}
main section.discover div.discover-rooms {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: auto;
  max-width: 650px;
}
main section.discover div.discover-rooms h2.discover-rooms__h2 {
  background: none;
  font-size: 0.875em;
  color: rgb(119, 119, 119);
  font-family: "Archivo", sans-serif;
  letter-spacing: 2.8px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 18px;
  margin-bottom: 20px;
  margin-top: 20px;
}
main section.discover div.discover-rooms h4.discover-rooms__h4 {
  font-size: 3.5em;
  font-family: "Old Standard TT", sans-serif;
  letter-spacing: -1.2px;
  line-height: 60px;
  font-weight: 400;
  color: rgb(34, 34, 34);
  text-align: center;
  margin-bottom: 40px;
}
main section.discover div.discover-rooms div.discover-rooms__icons {
  width: 70%;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  position: relative;
  top: 20px;
  z-index: 2;
}
main section.discover div.discover-rooms div.discover-rooms__icons img.discover-rooms-icons__img {
  width: 15px;
  height: 15px;
}
main section.discover div.discover-rooms div#swipper-rooms {
  width: 100%;
  height: auto;
}
main section.discover div.discover-rooms div#swipper-rooms img.swiper-slide__img {
  width: 100%;
  height: 270px;
  z-index: -3;
}
main section.discover div.discover-rooms div#swipper-rooms div#swiper-button-prev-rooms {
  background: rgb(255, 255, 255);
  width: 32px;
  height: 32px;
  font-size: 10px;
  color: rgb(34, 34, 34);
}
main section.discover div.discover-rooms div#swipper-rooms div#swiper-button-prev-rooms::after, main section.discover div.discover-rooms div#swipper-rooms .swiper-rtl #swiper-button-prev-rooms::after {
  content: "prev";
  font-size: 1.1em;
}
main section.discover div.discover-rooms div#swipper-rooms div#swiper-button-prev-rooms:hover {
  background: rgb(189, 172, 141);
  color: rgb(255, 255, 255);
}
main section.discover div.discover-rooms div#swipper-rooms div#swiper-button-next-rooms {
  background: rgb(255, 255, 255);
  width: 32px;
  height: 32px;
  font-size: 10px;
  color: rgb(34, 34, 34);
}
main section.discover div.discover-rooms div#swipper-rooms div#swiper-button-next-rooms::after, main section.discover div.discover-rooms div#swipper-rooms .swiper-rtl #swiper-button-next-rooms::after {
  content: "next";
  font-size: 1.1em;
}
main section.discover div.discover-rooms div#swipper-rooms div#swiper-button-next-rooms:hover {
  background: rgb(189, 172, 141);
  color: rgb(255, 255, 255);
}
main section.discover div.discover-rooms div.discover-rooms__minimal {
  width: 85%;
  background: rgb(255, 255, 255);
  position: relative;
  top: -20px;
  z-index: 2;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section.discover div.discover-rooms div.discover-rooms__minimal h3.discover-rooms-minimal__h3 {
  font-family: "Old Standard TT", sans-serif;
  font-weight: 400;
  font-size: 1.75em;
  line-height: 36px;
  letter-spacing: -1.2px;
  color: rgb(34, 34, 34);
  margin-bottom: 20px;
}
main section.discover div.discover-rooms div.discover-rooms__minimal p.discover-rooms-minimal__paraph {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: rgb(119, 119, 119);
  font-size: 0.875em;
  text-align: center;
  line-height: 24px;
  margin-bottom: 20px;
}
main section.discover div.discover-rooms div.discover-rooms__minimal h2.discover-rooms-minimal__h2 {
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 2em;
  color: rgb(190, 173, 142);
  line-height: 43px;
}
main section.discover div.discover-rooms div.discover-rooms__minimal h2.discover-rooms-minimal__h2 span.discover-rooms-minimal-h2__span {
  font-size: 13px;
}

@media screen and (min-width: 1000px) {
  main section.discover {
    margin-top: 90px;
  }
  main section.discover div.discover-container {
    display: flex;
    flex-direction: row-reverse;
    background: rgb(249, 249, 249);
    margin-bottom: 80px;
  }
  main section.discover div.discover-container div.discover__titlebox button.discover-titlebox__button {
    width: 50%;
    margin-bottom: 40px;
  }
  main section.discover div.discover-container div.discover-container__strong-luxury {
    background: rgb(249, 249, 249);
  }
  main section.discover div.discover-container div.discover-container__strong-luxury div.discover-strong-team {
    height: 300px;
    margin: 0px;
  }
  main section.discover div.discover-container div.discover-container__strong-luxury div.discover-strong-team div.discover-strong-team__box {
    display: flex;
    flex-direction: row-reverse;
    height: auto;
    width: 85%;
  }
  main section.discover div.discover-container div.discover-container__strong-luxury div.discover-strong-team div.discover-strong-team__box div.discover-strong-team__img {
    width: 100%;
    height: 300px;
  }
  main section.discover div.discover-container div.discover-container__strong-luxury div.discover-strong-team div.discover-strong-team__box div.discover-strong-team__img img.discover-strong-team-img__imgcover {
    width: 100%;
    height: 100%;
  }
  main section.discover div.discover-container div.discover-container__strong-luxury div.discover-strong-team div.discover-strong-team__box div.discover-strong-team__description {
    margin-right: 20px;
  }
  main section.discover div.discover-container div.discover-container__strong-luxury div.discover-luxury-room {
    height: 300px;
    margin: 0px;
  }
  main section.discover div.discover-container div.discover-container__strong-luxury div.discover-luxury-room div.discover-luxury-room__box {
    display: flex;
    flex-direction: row-reverse;
    height: auto;
    width: 85%;
  }
  main section.discover div.discover-container div.discover-container__strong-luxury div.discover-luxury-room div.discover-luxury-room__box div.discover-luxury-room__img {
    width: 100%;
    height: 100%;
  }
  main section.discover div.discover-container div.discover-container__strong-luxury div.discover-luxury-room div.discover-luxury-room__box div.discover-luxury-room__img img.discover-luxury-room-img__imgcover {
    width: 100%;
    height: 100%;
  }
  main section.discover div.discover-container div.discover-container__strong-luxury div.discover-luxury-room div.discover-luxury-room__box div.discover-luxury-room__description {
    margin-right: 20px;
  }
  main section.discover div.discover-rooms {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
    margin-bottom: 30px;
    max-width: 100%;
  }
  main section.discover div.discover-rooms div.discover-rooms__icons {
    width: 50%;
  }
  main section.discover div.discover-rooms div#swipper-rooms {
    width: 100%;
    height: auto;
  }
  main section.discover div.discover-rooms div#swipper-rooms div.swiper-slide {
    opacity: 0.4;
    transition: 0.7s;
  }
  main section.discover div.discover-rooms div#swipper-rooms div.swiper-slide-active {
    opacity: 1;
  }
  main section.discover div.discover-rooms div#swipper-rooms img.swiper-slide__img {
    height: 450px;
  }
  main section.discover div.discover-rooms div#swipper-rooms div#swiper-button-prev-rooms {
    width: 80px;
    height: 80px;
  }
  main section.discover div.discover-rooms div#swipper-rooms div#swiper-button-prev-rooms::after, main section.discover div.discover-rooms div#swipper-rooms .swiper-rtl #swiper-button-prev-rooms::after {
    font-size: 2em;
  }
  main section.discover div.discover-rooms div#swipper-rooms div#swiper-button-next-rooms {
    width: 80px;
    height: 80px;
  }
  main section.discover div.discover-rooms div#swipper-rooms div#swiper-button-next-rooms::after, main section.discover div.discover-rooms div#swipper-rooms .swiper-rtl #swiper-button-next-rooms::after {
    font-size: 2em;
  }
  main section.discover div.discover-rooms div.discover-rooms__minimal {
    width: 55%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  main section.discover div.discover-rooms div.discover-rooms__minimal div.discover-rooms-minimal__info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  main section.discover div.discover-rooms div.discover-rooms__minimal div.discover-rooms-minimal__info-container p.discover-rooms-minimal__paraph {
    text-align: left;
    width: 90%;
  }
}/*# sourceMappingURL=section-discover.css.map */