@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
main section.menu {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  position: relative;
  margin-bottom: 50px;
  margin-top: 60px;
  overflow: hidden;
}
main section.menu img.menu__img {
  position: absolute;
  left: 80%;
  width: 110px;
  overflow: hidden;
  top: 0;
}
main section.menu h4.menu__h4 {
  background: none;
  font-size: 0.875em;
  color: rgb(119, 119, 119);
  font-family: "Archivo", sans-serif;
  letter-spacing: 2.8px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 18px;
  margin-bottom: 20px;
  margin-top: 20px;
}
main section.menu h2.menu__h2 {
  font-weight: 400;
  font-family: "Old Standard TT", sans-serif;
  font-size: 3.5em;
  line-height: 60px;
  letter-spacing: -1.2px;
  color: rgb(34, 34, 34);
  margin-bottom: 40px;
}
main section.menu div#swiper-menu div.swiper-menu__buttons {
  margin-top: 10px;
}
main section.menu div#swiper-menu div.swiper-menu__buttons div.swiper-menu-buttons__prev {
  background: rgb(248, 248, 248);
  top: 98%;
  left: 70%;
  width: 36px;
  height: 36px;
  font-size: 10px;
  color: rgb(34, 34, 34);
}
main section.menu div#swiper-menu div.swiper-menu__buttons div.swiper-menu-buttons__prev::after, main section.menu div#swiper-menu div.swiper-menu__buttons .swiper-rtl .swiper-menu-buttons__prev::after {
  content: "prev";
  font-size: 1.1em;
}
main section.menu div#swiper-menu div.swiper-menu__buttons div.swiper-menu-buttons__prev:hover {
  background: rgb(189, 172, 141);
  color: rgb(255, 255, 255);
}
main section.menu div#swiper-menu div.swiper-menu__buttons div.swiper-menu-buttons__next {
  top: 98%;
  left: 85%;
  background: rgb(248, 248, 248);
  width: 36px;
  height: 36px;
  font-size: 10px;
  color: rgb(34, 34, 34);
}
main section.menu div#swiper-menu div.swiper-menu__buttons div.swiper-menu-buttons__next::after, main section.menu div#swiper-menu div.swiper-menu__buttons .swiper-rtl .swiper-menu-buttons__next::after {
  content: "next";
  font-size: 1.1em;
}
main section.menu div#swiper-menu div.swiper-menu__buttons div.swiper-menu-buttons__next:hover {
  background: rgb(189, 172, 141);
  color: rgb(255, 255, 255);
}
main section.menu div#swiper-menu div.slide-menu div.slide-menu__food {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
  justify-content: space-around;
}
main section.menu div#swiper-menu div.slide-menu div.slide-menu__food img {
  display: none;
}
main section.menu div#swiper-menu div.slide-menu div.slide-menu__food div.slider-menu-food-container__img1 {
  width: 100%;
  height: 140px;
  margin-right: 30px;
  background: url("../img/eggs&bacon.jpg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
}
main section.menu div#swiper-menu div.slide-menu div.slide-menu__food div.slider-menu-food-container__img2 {
  width: 100%;
  height: 140px;
  margin-right: 30px;
  background: url("../img/tea&coffe.jpg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
}
main section.menu div#swiper-menu div.slide-menu div.slide-menu__food div.slider-menu-food-container__img3 {
  width: 100%;
  height: 140px;
  margin-right: 30px;
  background: url("../img/chia.jpg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
}
main section.menu div#swiper-menu div.slide-menu div.slide-menu__food div.slider-menu-food-container__img4 {
  width: 100%;
  height: 140px;
  margin-right: 30px;
  background: url("../img/fruit.jpg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
}
main section.menu div#swiper-menu div.slide-menu div.slide-menu__food div.slider-menu-food-container__img5 {
  width: 100%;
  height: 140px;
  margin-right: 30px;
  background: url("../img/marmalade.jpeg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
}
main section.menu div#swiper-menu div.slide-menu div.slide-menu__food div.slider-menu-food-container__img6 {
  width: 100%;
  height: 140px;
  margin-right: 30px;
  background: url("../img/cheeseplate.jpg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
}
main section.menu div#swiper-menu div.slide-menu div.slide-menu__food div.slider-menu-food-container__description {
  width: 90%;
}
main section.menu div#swiper-menu div.slide-menu div.slide-menu__food h3.slider-menu-food__h3 {
  font-weight: 400;
  font-family: "Old Standard TT", sans-serif;
  font-size: 1.5em;
  letter-spacing: -0.72px;
  line-height: 24px;
  color: rgb(34, 34, 34);
  margin-bottom: 10px;
}
main section.menu div#swiper-menu div.slide-menu div.slide-menu__food p.slider-menu-food__paraph {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 0.875em;
  line-height: 24px;
  color: rgb(34, 34, 34);
}/*# sourceMappingURL=section-menu.css.map */