@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
main section.facilities-about-us {
  width: 100%;
  background: rgb(34, 34, 34);
  margin-top: 40px;
}
main section.facilities-about-us h4.facilities-about-us__h4 {
  background: none;
  font-size: 0.875em;
  color: rgb(255, 255, 255);
  font-family: "Archivo", sans-serif;
  letter-spacing: 2.8px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 18px;
  margin-bottom: 20px;
  margin-top: 60px;
  width: 100%;
  text-align: center;
}
main section.facilities-about-us h2.facilities-about-us__h2 {
  font-size: 3.5em;
  font-family: "Old Standard TT", sans-serif;
  letter-spacing: -1.2px;
  line-height: 60px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-bottom: 50px;
}
main section.facilities-about-us div#swiper-facilities-about-us {
  background: rgb(41, 41, 41);
  width: 90%;
  margin-bottom: 40px;
}
main section.facilities-about-us div#swiper-facilities-about-us div.slider-facilities-about-us-articles {
  padding: 20px;
}
main section.facilities-about-us div#swiper-facilities-about-us div.slider-facilities-about-us-articles img.facilities-about-us-slide__img {
  background: none;
}
main section.facilities-about-us div#swiper-facilities-about-us div.slider-facilities-about-us-articles h3.facilities-about-us-slide__h3 {
  font-family: rgb(189, 172, 141);
  font-weight: 400;
  font-size: 1.875em;
  line-height: 30px;
  letter-spacing: -0.9px;
  color: rgb(255, 255, 255);
  margin-top: 40px;
  margin-bottom: 30px;
}
main section.facilities-about-us div#swiper-facilities-about-us div.slider-facilities-about-us-articles p.facilities-about-us-slide__paraph {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: 0.875em;
  line-height: 24px;
  color: rgb(119, 119, 119);
  margin-bottom: 40px;
}
main section.facilities-about-us div#swiper-facilities-about-us div#swiper-facilities-about-us div.facilities-about-us-slide__article1 {
  background: rgb(41, 41, 41);
}
main section.facilities-about-us div#swiper-facilities-about-us div.facilities-about-us-slide__article1 {
  background: url("../img/01-black.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: 10%;
  background-color: rgb(41, 41, 41);
}
main section.facilities-about-us div#swiper-facilities-about-us div.facilities-about-us-slide__article2 {
  background: url("../img/02-black.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: 10%;
}
main section.facilities-about-us div#swiper-facilities-about-us div.facilities-about-us-slide__article3 {
  background: url("../img/03-black.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: 10%;
}
main section.facilities-about-us div#swiper-facilities-about-us div.facilities-about-us-slide__article4 {
  background: url("../img/04-black.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: 10%;
}
main section.facilities-about-us div#swiper-facilities-about-us div.facilities-about-us-slide__article5 {
  background: url("../img/05-black.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: 10%;
}
main section.facilities-about-us div#swiper-facilities-about-us div.facilities-about-us-slide__article6 {
  background: url("../img/06-black.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: 10%;
}
main section.facilities-about-us div#swiper-facilities-about-us div#facilities-about-us-bullets-pagination {
  background: none;
}/*# sourceMappingURL=section-facilities-about-us.css.map */