@import "variables"


main
    section.facilities
        width: 100%
        margin-bottom: 40px
        h4.facilities__h4
            background: none
            font-size: 0.875em
            color: rgba(119, 119, 119, 1)
            font-family: $fontPrincipal
            letter-spacing: 2.8px
            font-weight: 700
            text-transform: uppercase
            line-height: 18px
            margin-bottom: 20px
            margin-top: 20px
            width: 100%
            text-align: center
        h2.facilities__h2
            font-size: 3.5em
            font-family: $fontSecundaria
            letter-spacing: -1.2px
            line-height: 60px
            font-weight: 400
            color: $color-tercero
            text-align: center
            margin-bottom: 50px
        div.slider-facilities-articles
            padding: 20px
            h3 
                font-family: $color-secundario
                font-weight: 400
                font-size: 1.875em
                line-height: 30px
                letter-spacing: -0.9px
                color: $color-tercero
                margin-top: 40px
                margin-bottom: 30px
            p 
                font-family: $fontPrincipal
                font-weight: 400 
                font-size: 0.875em
                line-height: 24px
                color: rgba(119, 119, 119, 1)
                margin-bottom: 40px
        div.facilities-slide__article1
            background: url('../img/01.png')
            background-position: top right  
            background-repeat: no-repeat
            background-position-x: 90%
        div.facilities-slide__article2
            background: url('../img/02.png')
            background-position: top right  
            background-repeat: no-repeat
            background-position-x: 90%
        div.facilities-slide__article3
            background: url('../img/03.png')
            background-position: top right  
            background-repeat: no-repeat
            background-position-x: 90%
        div.facilities-slide__article4
            background: url('../img/04.png')
            background-position: top right  
            background-repeat: no-repeat
            background-position-x: 90%
        div.facilities-slide__article5
            background: url('../img/05.png')
            background-position: top right  
            background-repeat: no-repeat
            background-position-x: 90%
        div.facilities-slide__article6
            background: url('../img/06.png')
            background-position: top right  
            background-repeat: no-repeat
            background-position-x: 90%
        div#facilities-bullets-pagination
            background: none
        
        
        