

html, *
    box-sizing: border-box
    margin: 0
    padding: 0
    background: rgba(255, 255, 255, 1)
body
    min-width: 320px
a 
    text-decoration: none

@import "files/header"
@import "files/banner"
@import "files/banner-date"
@import "files/discover"
@import "files/strong-team"
@import "files/luxury-room"
