/* GENERALES */
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap')

$fontPrincipal: 'Archivo', sans-serif
$fontSecundaria: 'Old Standard TT', sans-serif
$fontRoboto: 'Roboto', sans-serif

html, *
    box-sizing: border-box
    margin: 0
    padding: 0
    background: rgba(255, 255, 255, 1)
body
    min-width: 320px
a 
    text-decoration: none

/* END GENERALES */

/* HEADER */
header.header 
    width: 100%
    height: auto
    background: rgba(255, 255, 255, 1)
    position: fixed  
    div.header__boxgeneral 
        width: 100%
        display: flex
        padding: 20px
        box-shadow: 0 3px 6px 0 rgba(36, 36, 36, 0.29)
        justify-content: space-between
        align-items: center
        z-index: 10
        button 
            border: none
            background: none
            cursor: pointer
            img 
                width: 20px
            img.header-menubutton__icon
                width: 18px
        div.header__titlebox
            display: flex
            margin-right: 100px
            justify-content: space-between
            width: 30%
            align-items: center
            div.header__boxlogo
                width: 50%
                height: auto
                font-size: 1.5em
                font-family: $fontPrincipal
                box-shadow: 0 14px 24px 0 rgba(139, 139, 139, 0.25)
                text-align: center
                margin-right: 10px
                padding: 10px
            h1.header-titlebox__title
                font-size: 0.8em
                font-family: $fontPrincipal
                display: flex
                flex-direction: column
                color: rgba(17, 17, 17, 1)
                line-height: 18px
                letter-spacing: 2.8px
                span.header-titlebox-title__span
                    font-weight: 100
        div.header-boxgeneral__icons
            display: flex
            justify-content: space-between
            width: 20%
    nav.header-menu__burguer
        height: auto
        width: 100%
        z-index: -1
        position: absolute
        top: -150px
        ul.header-menu__items 
            display: flex
            flex-direction: column
            justify-content: space-between
            margin-top: 20px
            list-style: none
            padding-left: 20px
            padding-bottom: 0px
            li 
                padding: 10px 0px
                padding-bottom: 0px
                margin-top: 10px
                margin-bottom: 10px
                a
                    color: rgba(17, 17, 17, 1)
                    font-family: $fontPrincipal
                    font-weight: 600
                    background: none
/* FIN HEADER */
/* MAIN */
main 
    padding-top: 120px
    display: flex
    flex-direction: column
    height: auto
    width: 100%
    height: auto
    background: rgba(51, 51, 51, 1)
    /* BANNER SECTION */
    section.banner, h2, h3, div
        background: rgba(51, 51, 51, 1)
        color: rgba(255, 255, 255, 1)
        display: flex
        flex-direction: column
        justify-content: center
        margin-top: 10px
        margin-bottom: 30px
        padding: 10px
        h2.banner__firstitle
            width: 80%
            font-family: $fontPrincipal
            line-height: 18px
            letter-spacing: 2.8px
            font-size: 0.8em
        h3.banner__secondtitle
            font-family: $fontSecundaria
            line-height: 60px
            letter-spacing: -1.2px
            font-weight: 400
            font-size: 3.5em
            width: 100%
        div.banner__buttons 
            display: flex
            flex-direction: column
            height: auto
            width: 100%
            button
                width: 60%
                padding: 20px
                cursor: pointer
                border: none
                color: rgba(255, 255, 255, 1)
                font-size: 0.875em
                letter-spacing: 2.8px
                text-transform: uppercase
                font-family: $fontPrincipal
                font-weight: 700
            button.banner-buttons__tour
                background:  rgba(190, 173, 142, 1)
                margin-bottom: 20px
            button.banner-buttons__more
                background: none
                border: 2px solid gray
    /* FIN SECTION BANNER */
    /* BANNER CHECKDATE */
    section.banner__checkdate
        background: rgba(34, 34, 34, 1)
        height: auto
        form.banner-checkdate__form
            display: flex
            flex-direction: column
            background: rgba(34, 34, 34, 1)
            color: rgba(255, 255, 255, 1)
            padding: 20px
            label, input 
                background: rgba(34, 34, 34, 1)
                margin-top: 10px
                margin-bottom: 10px
                font-family: $fontRoboto
                font-size: 1em
                font-weight: 700
                border: none
            input 
                border-bottom: 1px solid rgba(190, 173, 142, 1)
                padding-bottom: 10px
                color: rgba(104, 104, 104, 1)
            button.banner-checkdate-form__button
                width: 80%
                padding: 20px
                margin-top: 30px
                margin-bottom: 20px
                cursor: pointer
                border: none
                color: rgba(255, 255, 255, 1)
                font-size: 0.875em
                letter-spacing: 2.8px
                text-transform: uppercase
                font-family: $fontPrincipal
                font-weight: 700
                background: rgba(190, 173, 142, 1)

    /* FIN BANNER CHECKDATE */
/* FIN MAIN */