

html, *
    box-sizing: border-box
    margin: 0
    padding: 0
    background: rgba(255, 255, 255, 1)
body
    min-width: 320px
a 
    text-decoration: none

h2, h3, h4, p 
    background: none

:root 
  --swiper-theme-color: rgba(190, 173, 142, 1)

@import "home/header"
@import "home/section-banner"
@import "home/section-banner-date"
@import "home/section-discover"
@import "home/section-meet-video"
@import "home/section-facilities"
@import "home/section-menu"
@import "home/images-food-slider"
@import "home/section-logros"
@import "home/footer"